name: gh.build-and-test
on: [push]
jobs:
  ubuntu_latest_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: prepare-vars
        run: |
          echo "SHORT_SHA=$(echo $GITHUB_SHA | head -c 7)">>$GITHUB_OUTPUT
          echo "REPORS_VERSION=$(echo $GITHUB_SHA | head -c 7)">>$GITHUB_ENV
      - name: prepare dependencies
        run: sudo apt install libclang-dev clang libopencv-dev cmake ninja-build -y
      - name: install-stable
        run: rustup toolchain install stable
      - name: use-stable
        run: rustup default stable
      - name: add-clippy
        run: rustup component add clippy
      - name: clippy
        run: cargo clippy
      - name: fmt
        run: cargo fmt --check
      - name: build
        run: |
          echo "building $REPORS_VERSION"
          cargo build --release
      - name: test
        run: cargo test
      - name: prepare dist
        run: |
          mkdir -p repors-$REPORS_VERSION
          cp target/release/repors repors-$REPORS_VERSION/
          cp LICENSE repors-$REPORS_VERSION/
          tar cvzf repors-x86_64-unknown-linux-gnu-$REPORS_VERSION.tar.gz repors-$REPORS_VERSION
      - name: release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: repors-*.tar.gz
